<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- galeria -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RunnerApp"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.runnerapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPbddaN9SLqpNrUFgwIJQyYXSPc48DkMs" />

        <activity android:name=".Auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Auth.RegisterActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".GPSTracker"
            android:exported="true">
        </activity>

        <activity
            android:name=".RaceTrackingActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".RaceActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".CountrySpinnerAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".Race"
            android:exported="true">
        </activity>

        <activity
            android:name=".Models.User"
            android:exported="true">
        </activity>

        <activity
            android:name=".ProgressActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Activity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Auth.EditProfileActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Models.FirebaseOperations"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.FriendsAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.FriendsFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.HomeFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.LeaderboardAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.LeaderboardFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.ProfileFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.ProgressFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.ProgressAdapter"
            android:exported="true">
        </activity>

        <activity
            android:name=".Pestañas.StatisticsFragment"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
